<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22429FCF1C4AAD5B005357B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22429FE31C4AAD5C005357B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22429FEE1C4AAD5C005357B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
